<!DOCTYPE html>
<html>

<head><% include ../partials/template/head.ejs  %></head>
<body>
<% include ../partials/template/header.ejs  %>

<p>
    Welcome back, <%= userinfo.Username %>!
    <a href="/">Go Home.</a>
</p>

<% include ../partials/template/footer.ejs  %>
<% include ../partials/template/jsdefaults.ejs  %>
</body>
</html>
