<header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="hero">
        <section class="layout">
            <div class="branding">
                <a href="/">
                    <img src="images/misc/home.png" alt="Home">
                </a>
            </div>
        </section>
    </div>

    <div class="login">
        <section class="layout">
            <a href="/login">Log in</a>
        </section>
    </div>

    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/"><i class="icon-home"><i/> Home </a></li>
                <li><a href="/blog"><i class="icon-user"><i/> Blog</a></li>
            </ul>
        </section>
    </div>
</header>
